<div class ="jumbotron">
  <h2>Yelpdemo is the best way to find reviews on local restaurants.</h2>
  <h3>Explore the favorite diners, pastry shops, and eateries in your community.
  <br>Leave reviews and ratings for your fellow foodies.</h3>
</div>

<div class="row">
  <% @restaurants.each do |restaurant| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= image_tag restaurant.image.url %>
      <div class="caption">
        <h3><%= restaurant.name %></h3>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone %></p>
        <p><%= link_to restaurant.website, restaurant.website %></p>
        <li><%= link_to 'Show', restaurant, class: "btn btn-link" %></li>
        <li><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></li>
        <li><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-link" %>
